@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --color-primary: #065f46ff;
  --color-primary-dark: #065146ff;
  --color-primary-light: #065f4696;
  --color-secondary: #374151ff;
  --color-secondary-dark: #2a323fff;

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

li {
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes scale_up_center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale_up_center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}
