.container {
  padding: 5%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: large;
  font-weight: 800;
}
.form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.form form input {
  text-align: center;
  height: 40px;
  border: 1px solid;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 110px;
  height: 40px;
  border-radius: 8px;
  color: white;
}
.buttonSave {
  background-color: var(--color-primary);
}
.buttonCancel {
  background-color: var(--color-secondary);
}
